<h2>User Profile</h2>

<p>
  <strong>Name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Total Pledges:</strong>
  <%= number_to_currency(@user.total_pledges) %>
</p>

<strong>Projects backed:</strong>
<ul class="rewards">
  <% @user.rewards.each do |reward| %>
    <li class="user reward">
      <p>
        Pledged <%= number_to_currency(reward.amount) %> to
        <%= link_to reward.project.name, reward.project %>.
      </p>
      <p>
        Reward: <%= reward.name %>
      </p>
    </li>
  <% end %>
</ul>