<h3>Reward: <%= reward.name %></h3>
<p><%= reward.description %></p>

<dl class="rewards">
    <dt>Amount</dt>
    <dd><%= reward.amount %></dd>

    <dt>Limit</dt>
    <dd><%= reward.limit %></dd>

    <dt>Remaining:</dt>
    <dd><%= reward.remaining %></dd>

    <%= form_for [@project,reward,reward.pledges.build] do |f| %>
      <%= f.button 'Make pledge!' %>
    <% end %>
</dl>
