<h2><%= @project.name %></h2>

<% unless @project.started? %>
  <% if current_user === @project.owner %>
    <p><%= link_to "Edit project", edit_project_path(@project) %></p>
  <% end %>
<% end %>

<% if @project.errors.any? %>
  <ul>
    <%= @project.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<section class="project">
  <dl>
    <dt>Description</dt>
    <dd><%= @project.description %></dd>

    <dt>Start Date</dt>
    <dd><%= @project.start_date.strftime("%B %e, %Y") %></dd>

    <dt>End Date</dt>
    <dd><%= @project.end_date.strftime("%B %e, %Y") %></dd>

    <% unless @project.started? %>
      <dt>Days remaining until start date</dt>
      <dd><%= @project.days_remaining_until_end_date %></dd>
    <% end %>

    <% unless @project.ended? %>
      <dt>Days remaining until end date</dt>
      <dd><%= @project.days_remaining_until_end_date %></dd>
    <% end %>

    <dt>Goal</dt>
    <dd><%= number_to_currency(@project.goal) %></dd>

    <dt>Funds raised</dt>
    <dd><%= number_to_currency(@project.funds_raised) %></dd>

    <dt>Amount remaining until goal is reached</dt>
    <dd><%= number_to_currency(@project.funds_remaining_to_reach_goal) %></dd>

    <dt>Project Owner</dt>
    <dd><%= @project.owner.full_name %></dd>
  </dl>
</section>

<aside class="pledges">
  <% if @project.pledges_by_user(current_user).count > 0 %>
    <h3>You've made the following pledges to this project!</h3>
    <% @project.pledges_by_user(current_user).each do |pledge| %>
      <p>
        <%= number_to_currency(pledge.reward.amount) %>
        (Reward: <strong><%= pledge.reward.name %></strong>)
      </p>
    <% end %>
  <% end %>
</aside>

<section class="rewards">
  <% @project.rewards.each do |reward| %>
    <%= render partial: 'show_reward', locals: {reward: reward} %>
  <% end %>
</section>
