<h2><%= @project.name %></h2>

<p>
  <strong>Description:</strong><br>
  <%= @project.description %>
</p>

<p>
  <strong>Start Date:</strong><br>
  <%= @project.start_date.strftime("%B %e, %Y") %>
</p>

<p>
  <strong>End Date:</strong><br>
  <%= @project.end_date.strftime("%B %e, %Y") %>
</p>

<p>
  <strong>Goal:</strong><br>
  <%= number_to_currency(@project.goal) %><br>
  <dl>
    <dt>Raised currently</dt>
    <dd><%= number_to_currency(@project.raised) %></dd>

    <dt>Amount needed to reach the goal</dt>
    <dd><%= number_to_currency(@project.remaining) %></dd>
  </dl>
</p>

<p>
  <strong>Owner:</strong>
  <%= @project.owner.full_name %>
</p>

<%= form_for [@project, @pledge] do |f| -%>
  <fieldset>
    <legend>Make a pledge on this project</legend>
    <div class="field">
      <%= f.label :amount %>
      $<%= f.number_field :amount %>.00
    </div>
    <div class="field">
      <%= f.button "Make Pledge" %>
    </div>
  </fieldset>
<% end -%>

