<h2><%= @project.name %></h2>

<section class="project">
  <dl>
    <dt>Description</dt>
    <dd><%= @project.description %></dd>

    <dt>Start Date:</dt>
    <dd><%= @project.start_date.strftime("%B %e, %Y") %></dd>

    <dt>End Date:</dt>
    <dd><%= @project.end_date.strftime("%B %e, %Y") %></dd>

    <dt>Goal:</dt>
    <dd><%= number_to_currency(@project.goal) %></dd>

    <dt>Project Owner</dt>
    <dd><%= @project.owner.full_name %></dd>
  </dl>
</section>

<aside class="pledges">
  <% if @project.pledges_by_current_user %>
    <h3>You've made the following pledges to this project!</h3>
    <% @project.pledges_by_current_user.each do |pledge| %>
      <p>
        <%= number_to_currency(pledge.amount) %>
        (Reward: <strong><%= pledge.reward.name %></strong>)
      </p>
    <% end %>
  <% end %>
</aside>

<section class="rewards">
  <% @project.rewards.each do |reward| %>
    <%= render partial: 'show_reward', locals: {reward: reward} %>
  <% end %>
</section>
