<!DOCTYPE html>
<html>
<head>
  <title>Biggunzfunder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>

<% if current_user %>
  <p class="login">
    Logged in as <strong><%= current_user.full_name %></strong> |
    <%= link_to 'Log out', logout_path(:current), method: :delete %>
  </p>
<% else %>
  <p class="login">
    <%= link_to 'Create an account', new_user_path %>
    <%= link_to 'Log in', login_path  %>
  </p>
<% end %>

<%= yield %>

</body>
</html>
